<div class="syllabi">
<div class="row">
    <div class="container-general">
      <div class="container-general content-center">
      <h1 id="heading">Title</h1>
     <h3 id="Pname"></h3>
     <br><br>
      
    </div>
  </div>
  <br>
<br>
 
<div class="panel" data-ng-controller="tableEditableCtrl">
    <div class="panel-heading">
      Editable table
    </div>
    <div class="panel-body">
      <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

        <!-- table -->
        <table class="table table-bordered table-hover table-condensed align-middle">
          <tr style="font-weight: bold">
            <td style="width:40%">Name</td>
            <td style="width:30%">Status</td>
            <td style="width:30%">Group</td>
            <td style="width:30%"><span ng-show="tableform.$visible">Action</span>
            </td>
          </tr>
          <tr ng-repeat="user in users | filter:filterUser">
            <td>
              <!-- editable username (text with validation) -->
              <span editable-text="user.name" e-form="tableform" onbeforesave="checkName3($data, user.id)">
            {{ user.name || 'empty' }}
          </span>
            </td>
            <td>
             <a href="#" editable-bsdate="user.dob"
              e-is-open="opened.$data"
              e-ng-click="open($event,'$data')"
              e-datepicker-popup="dd-MMMM-yyyy">
    {{ (user.dob | date:"dd/MM/yyyy") || 'empty' }}
  </a>
            </td>
            <td>
              <!-- editable group (select-remote) -->
              <span editable-select="user.group" e-form="tableform" onshow="loadGroups()" e-ng-options="g.id as g.text for g in groups">
            {{ showGroup(user) }}
          </span>
            </td>
            <td>
              <button type="button" ng-show="tableform.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger btn-xs pull-right">Del</button>
            </td>
          </tr>
        </table>

        <!-- buttons -->
        <div class="btn-edit ml15 mb15">
          <button type="button" class="btn btn-default btn-xs" ng-show="!tableform.$visible" ng-click="tableform.$show()">
            edit
          </button>
        </div>
        <div class="btn-form ml15 mb15 mr15" ng-show="tableform.$visible">
          <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser2()" class="btn btn-default btn-xs pull-right">add row</button>
          <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary btn-xs">save</button>
          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default btn-xs">cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>



<script>

// ======================================================







swal({
  width: "1000px",
  title: 'Start Building Your Syllabus',
  text: "This will start the syllabus creation wizard. This wizard will guide you in making your syllabus. In 5 quick steps will we have you all set up!",
  type: 'info',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, Create My Syllabus'
}).then(function () {

  setTimeout(function(){

swal.setDefaults({
  input: 'text',
  confirmButtonText: 'Next &rarr;',
  showCancelButton: true,
  animation: true,
   inputValidator: function (value) {
    return new Promise(function (resolve, reject) {
      if (value) {
        
        resolve()
      } else {
        reject('You need to write something!')
      }
    })
  },
  progressSteps: ['1', '2', '3','4']
})

var steps = [
  {
    title: 'Syllabus Title',
    text: 'Insert the course Title; for example GEO 105'
  },
  {
    title: 'Question 2',
    text: 'Chaining swal2 modals is easy',

  },
  {
    title: 'Question 3',
    text: 'Chaining swal2 modals is easy'
  },
  {
    title: 'Question 4',
    text: 'Chaining swal2 modals is easy'
}
]

swal.queue(steps).then(function (result) {
  $("#heading").hide();
  $("#heading").html(result[0] + "<button style='margin: 20px;' class='btn btn-mg btn-info'>Edit</button>");
  $("#Pname").html(result[1] + "<button style='margin: 20px;' class='btn btn-mg btn-info'>Edit</button>");
  $("#heading").slideDown("slow");
  swal.resetDefaults()
  swal(
  'Good job!',
  'You clicked the button!',
  'success'
)
}, function () {
  swal.resetDefaults()
})
},500);
})
</script>
