<div class="center-wrapper" data-ng-controller="sessionCtrl">
  <div class="center-content">
    <div class="row no-margin">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form role="form" class="form-layout">
          <div class="text-center mb15">
            <img data-ng-src="images/logo-dark.png" />
          </div>

          <p class="text-center mb30">Create your account on Syncabi.com</p>

          <div class="form-inputs">
            <input type="text" class="form-control input-lg" placeholder="First Name">
            <input type="text" class="form-control input-lg" placeholder="Last Name">
            <input type="email" class="form-control input-lg" required placeholder="Student Email address">
            <input type="text" class="form-control input-lg" placeholder="Course ID">
            <input type="password" class="form-control input-lg" placeholder="Password">
            <input type="password" class="form-control input-lg" placeholder="Verify Password">
          </div>

          <button class="btn btn-success btn-block btn-lg mb15" type="submit" data-ng-click="signin()">Create Account</button>

          <p class="text-left">By clicking signin up, you agree to our <a href="javascript:;">Terms of services &amp; Policies</a>.</p>

        </form>
      </div>
    </div>
  </div>
</div>
