<div class="configuration-cog" data-ng-click="app.isConfigOpen = !app.isConfigOpen">
  <i class="fa fa-cog"></i>
</div>
<div class="configuration-options">
  <div class="title">
    Configuration
  </div>
  <div class="option">
    <span>Collapsed sidebar</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isSmallSidebar">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Chat panel opened</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isChatOpen">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Fixed header</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isFixedHeader">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Boxed</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isBoxed">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Static sidebar</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isStaticSidebar">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Right sidebar</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isRightSidebar">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  <div class="option">
    <span>Fixed footer</span>
    <label class="switch switch-sm pull-right">
      <input type="checkbox" ng-model="app.layout.isFixedFooter">
      <span>
                <i class="handle"></i>
            </span>
    </label>
  </div>
  
</div>
